<%= div_for(@category) do %>
    <h2> <%= @category.name %> </h2>
    
    <div class="right">
        <%= link_to("新增問題", new_discussion_path, :class => "btn primary" )%>
    </div>
    <%= render_table(@questions, [
      ["Title",                lambda { |question| link_to(question.subject, discussion_question_path(@category, question))}],
      ["回覆數量",lambda { |question| question.comments_count } ],
      ["最後回覆", lambda { |question| render_latest_comment_status(question.latest_comment)} ],

    ], {:class_name => "table"}) %>
    
<% end %>