defaults: &defaults
  app_name: "DeliverIO"
  facebook_app_id: 173021319472291
  facebook_secret: 	dfcf40999761639a8c471318fd675cba
  domain: "http://dev-deliverio.dev"    
  admin_emails: 
    - "xuite.joke@gmail.com"
    - "evendesign@gmail.com"
  google_analytics_key: ""
  upload_url: "http://ruby-taiwan.dev/file"
  email_sender: 'no-reply@ruby-china.org'
development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults