@media (max-width: 480px){
  body{
    padding-top: 0px !important;
  }
}

@media (max-width: 768px){
  body{
    padding-top: 0px !important;
  }
}

@media (max-width: 960px){
  body{
    padding-top: 0px !important;
  }
}


