.sidebar {
   h2 {
     font-size: 14px;
     line-height: 100%;
     margin-bottom: 10px;
     color: #666; }
   ul, ol { margin-bottom: 0; }
   p { margin-bottom: 6px; }
   li { margin-bottom: 4px; }
   
}