<% if current_user %>
<ul class="nav pills pull-right">
  <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
      個人資料
      <b class="caret"></b>
    </a>
    <%= render_list :class => "dropdown-menu" do |li|
        ##li << link_to('編輯個人資料', edit_panel_user_path(current_user))
        li << link_to("登出", "/sign_out" )
    end %>

  </li>
</ul>

<% else %>

<%= render_list :class => "nav pills pull-right" do |li|
    li << link_to( t("common.login"),  Setting.domain + user_omniauth_authorize_path(:facebook) )
end %>

<% end %>
